@charset "utf-8";
.bg-dark {
    background-color: #FFBDC9 !important;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: source-sans-pro;
    color: #FFFFFF;
    font-style: normal;
	font-weight: 400;
}
.navbar-nav .nav-item {
    border: 1px solid #FFBDC9;
    background-image: -webkit-linear-gradient(270deg,rgba(255,202,211,1.00) 0%,rgba(255,112,137,1.00) 100%,rgba(241,227,76,1.00) 100%,rgba(255,255,51,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,202,211,1.00) 0%,rgba(255,112,137,1.00) 100%,rgba(241,227,76,1.00) 100%,rgba(255,255,51,1.00) 100%);
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
    width: 108px;
    background-image: -o-linear-gradient(270deg,rgba(255,202,211,1.00) 0%,rgba(255,112,137,1.00) 100%,rgba(241,227,76,1.00) 100%,rgba(255,255,51,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,202,211,1.00) 0%,rgba(255,112,137,1.00) 100%,rgba(241,227,76,1.00) 100%,rgba(255,255,51,1.00) 100%);
}
header h2 {
    font: 350%/1em Impact;
    color: #FFBDC9;
    text-shadow: 0px 5px 11.05px rgba(0, 0, 0, 0.56);
	text-align: center;
    margin-top: 1em;
    letter-spacing: 0.12em;
}
header p {
    line-height: 1em;
    font-weight: 700;
    font-size: 150%;
    font-family: source-sans-pro;
    color: #FFBDC9;
    text-shadow: 0px 3px 5.95px rgba(0, 0, 0, 0.8);
    text-align: center;
    letter-spacing: 0.4em;
    font-style: normal;
}
header {
	background-image: url("images/Brown_Banner.jpg");
	background-position: center center;
	background-size: 80% auto;
	background-repeat: no-repeat;
	height: 212px;
	background-color: #FFBDC9
}
body {
    border-left: 15px solid #FFBDC9;
    border-right: 15px solid #FFBDC9;

}
footer {
    padding-top: 5px;
    color: #FFDFE7;
    background-color: #FFBDC9;
}
address {
    color: #FFDFE7;

}
